.footer{
    background: #fff;
    padding: 0 30px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
}
.footer .footerText h2{
    color: #171717;
}
.footer .footerText h2 sup{
    color: #333;
    font-size: 12px;
}
.footer ul{
    list-style: none;
    color: #fff;
    font-size: 14px;
    display: flex;
    gap: 30px;
}
.footer ul li a{
    color: #fff;
    text-decoration: none;
}

.footer ul li a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}