.footer{
    background: #fff;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}
.footer .footerText h2{
    color: #171717;
}
.footer .footerText h2 sup{
    color: #333;
    font-size: 12px;
}
.footer ul{
    list-style: none;
    color: #fff;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
}
.footer ul li a{
    color: #fff;
    text-decoration: none;
}

.footer ul li a img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
@media screen and (max-width: 500px) {
    .footer{
        flex-direction: column;
    }
}