.ownerWrap{
    height: 70dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(230deg, #17171755, #1f1f1fde), url("../../src/assets/owner.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    padding: 0 40px;
    color: #fff;
    gap: 40px;
}
.ownerWrap .ownerWrapInner{
    width:70dvw;
    text-align: center;
}
.ownerWrap .ownerWrapInner img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.ownerWrap .ownerWrapInner .title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ownerWrap .ownerWrapInner .title span:first-child{
    font-size: 20px;
}
.ownerWrap .ownerWrapInner .title span:last-child{
    color: #ffca31;
}