.three-cards-container {
    display: flex;
    align-items: center;
    padding: 4rem;
    gap: 20px;
    background:linear-gradient(230deg, #171717af, #03124dde), url("../../src/assets/nice.jpg");
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    max-width: fit-content;
}

.card h3 {
    color: #333;
    font-size: 1.25rem;
}

.card p {
    color: #666;
    font-size: 1rem;
}

.card a {
    color: #247dee;
    text-decoration: none;
    font-weight: bold;

}

@media (max-width: 900px) {
    .three-cards-container {
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
    }

}
