@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


body,
html {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
